In [1]:
#imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3

%matplotlib inline

In [2]:
#load data
imdb_basic = pd.read_csv('data/title.basics.csv')
bom_gross = pd.read_csv('data/bom.movie_gross.csv')

In [3]:
#inspecting structure
imdb_basic

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [4]:
bom_gross

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

In [5]:
#imdb set has massive size, will need to drop most of it when combining

In [6]:
#inspect 'genres'
imdb_basic['genres'].value_counts()

Documentary                   32185
Drama                         21486
Comedy                         9177
Horror                         4372
Comedy,Drama                   3519
                              ...
Biography,Thriller,Western        1
Crime,Romance,Western             1
Crime,Family,Fantasy              1
Crime,Music                       1
Animation,Sci-Fi,War              1
Name: genres, Length: 1085, dtype: int64

In [14]:
#get total distinct genres


distinct_genres_raw = imdb_basic['genres'].unique()
len(distinct_genres)

distinct_genres_clean = set()

for elem in distinct_genres:
    #print(type(elem))
    elem = str(elem)
    elem = elem.strip()
    elem = elem.lower()
    genres = elem.split(',')
    #print(type(genres))
    #print(genres)
    for category in genres:
        distinct_genres_clean.add(category)

In [16]:
print(len(distinct_genres_clean))
print(distinct_genres_clean)

28
{'musical', 'talk-show', 'documentary', 'comedy', 'mystery', 'animation', 'thriller', 'news', 'short', 'drama', 'game-show', 'crime', 'reality-tv', 'romance', 'war', 'music', 'biography', 'sci-fi', 'western', 'sport', 'family', 'nan', 'adventure', 'horror', 'fantasy', 'action', 'history', 'adult'}

In [17]:
#not too many categories. bool column for each?
#also has some missing values. how many?

In [18]:
imdb_basic['genres'].isna().sum()

5408

In [19]:
#hardly any rows compared to the size of the table. NaNs in other columns?

In [22]:
imdb_basic.isna().sum()

tconst                 0
primary_title          0
original_title        21
start_year             0
runtime_minutes    31739
genres              5408
dtype: int64

In [23]:
#runtime is missing the most, but still only 25% of the set

In [24]:
bom_gross.isna().sum()

title                0
studio               5
domestic_gross      28
foreign_gross     1350
year                 0
dtype: int64

In [25]:
#too many missing in foreign_gross to drop.
#replace with 0? focus on domestic_gross only?