In [1]:
#imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3

%matplotlib inline

In [133]:
#load data
imdb_basic = pd.read_csv('data/title.basics.csv')
imdb_ratings = pd.read_csv('data/title.ratings.csv')
imdb_akas = pd.read_csv('data/title.akas.csv')
bom_gross = pd.read_csv('data/bom.movie_gross.csv')

In [134]:
#inspecting structure
imdb_basic

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [135]:
imdb_ratings

           tconst  averagerating  numvotes
0      tt10356526            8.3        31
1      tt10384606            8.9       559
2       tt1042974            6.4        20
3       tt1043726            4.2     50352
4       tt1060240            6.5        21
...           ...            ...       ...
73851   tt9805820            8.1        25
73852   tt9844256            7.5        24
73853   tt9851050            4.7        14
73854   tt9886934            7.0         5
73855   tt9894098            6.3       128

[73856 rows x 3 columns]

In [136]:
imdb_akas

,title_id,ordering,title,region,language,types,attributes,is_original_title
0,tt0369610,10,Джурасик свят,BG,bg,NaN,NaN,0.0
1,tt0369610,11,Jurashikku warudo,JP,NaN,imdbDisplay,NaN,0.0
2,tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,NaN,imdbDisplay,NaN,0.0
3,tt0369610,13,O Mundo dos Dinossauros,BR,NaN,NaN,short title,0.0
4,tt0369610,14,Jurassic World,FR,NaN,imdbDisplay,NaN,0.0
...,...,...,...,...,...,...,...,...
331698,tt9827784,2,Sayonara kuchibiru,NaN,NaN,original,NaN,1.0
331699,tt9827784,3,Farewell Song,XWW,en,imdbDisplay,NaN,0.0
331700,tt9880178,1,La atención,NaN,NaN,original,NaN,1.0
331701,tt9880178,2,La atención,ES,NaN,NaN,NaN,0.0
331702,tt9880178,3,The Attention,XWW,en,imdbDisplay,NaN,0.0

In [137]:
bom_gross

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

In [138]:
#imdb_basic set has massive size, will need to drop most of it when combining since other sets are smaller
#imdb_akas doesn't seem very relevant

In [139]:
#inspect 'genres'
imdb_basic['genres'].value_counts()

Documentary                  32185
Drama                        21486
Comedy                        9177
Horror                        4372
Comedy,Drama                  3519
                             ...
Family,Romance,Sport             1
Horror,Musical,Romance           1
Family,Fantasy,History           1
Musical,Reality-TV               1
Biography,Fantasy,History        1
Name: genres, Length: 1085, dtype: int64

In [140]:
#get total distinct genres


distinct_genres_raw = imdb_basic['genres'].unique()
len(distinct_genres_raw)

distinct_genres_clean = set()

for elem in distinct_genres_raw:
    #print(type(elem))
    elem = str(elem)
    elem = elem.strip()
    elem = elem.lower()
    genres = elem.split(',')
    #print(type(genres))
    #print(genres)
    for category in genres:
        distinct_genres_clean.add(category)

In [141]:
print(len(distinct_genres_clean))
print(distinct_genres_clean)

28
{'music', 'sport', 'game-show', 'horror', 'crime', 'adult', 'nan', 'comedy', 'thriller', 'action', 'mystery', 'sci-fi', 'reality-tv', 'history', 'family', 'western', 'fantasy', 'documentary', 'romance', 'drama', 'short', 'war', 'animation', 'news', 'biography', 'adventure', 'talk-show', 'musical'}

In [142]:
#not too many categories. bool column for each?
#also has some missing values. how many?

In [143]:
imdb_basic['genres'].isna().sum()

5408

In [144]:
#hardly any rows compared to the size of the table. NaNs in other columns?

In [145]:
imdb_basic.isna().sum()

tconst                 0
primary_title          0
original_title        21
start_year             0
runtime_minutes    31739
genres              5408
dtype: int64

In [146]:
#runtime is missing the most, but still only 25% of the set

In [147]:
bom_gross.isna().sum()

title                0
studio               5
domestic_gross      28
foreign_gross     1350
year                 0
dtype: int64

In [148]:
#too many missing in foreign_gross to drop.
#does NaN here imply foreign_gross was 0 or just isn't available?
#replace with 0? focus on domestic_gross only?

In [149]:
#dropping rows missing genre
imdb_basic.dropna(subset = ['genres'], inplace=True)
distinct_genres_clean.remove('nan')

In [150]:
imdb_basic.isna().sum()

tconst                 0
primary_title          0
original_title         2
start_year             0
runtime_minutes    28503
genres                 0
dtype: int64

In [151]:
#imdb_basic.reset_index(inplace=True)

In [153]:
#clean up imdb_basic 'genres' column
for category in distinct_genres_clean:
    print(category)
    imdb_basic.loc[(imdb_basic['genres'].str.strip().str.lower().str.contains(category)), category] = True

music
sport
game-show
horror
crime
adult
comedy
thriller
action
mystery
sci-fi
reality-tv
history
family
western
fantasy
documentary
romance
drama
short
war
animation
news
biography
adventure
talk-show
musical

In [154]:
#imdb_basic.loc[(imdb_basic['genres'].str.strip().str.lower().str.contains('drama'))]
imdb_basic

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,music,sport,game-show,horror,...,romance,drama,short,war,animation,news,biography,adventure,talk-show,musical
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",NaN,NaN,NaN,NaN,...,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",NaN,NaN,NaN,NaN,...,NaN,True,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,NaN,NaN,NaN,NaN,...,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",NaN,NaN,NaN,NaN,...,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",NaN,NaN,NaN,NaN,...,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146138,tt9916428,The Secret of China,The Secret of China,2019,NaN,"Adventure,History,War",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,True,NaN,NaN,NaN,True,NaN,NaN
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama,NaN,NaN,NaN,NaN,...,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [156]:
#replace NaNs in new columns with false
for category in distinct_genres_clean:
    imdb_basic[category].fillna(False, inplace=True)

In [157]:
imdb_basic

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,music,sport,game-show,horror,...,romance,drama,short,war,animation,news,biography,adventure,talk-show,musical
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",False,False,False,False,...,False,True,False,False,False,False,True,False,False,False
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146138,tt9916428,The Secret of China,The Secret of China,2019,NaN,"Adventure,History,War",False,False,False,False,...,False,False,False,True,False,False,False,True,False,False
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [158]:
#nice